h1 {
  text-align: center;
  color: red;
}

div.contenedor {
  width: 80%;
  height: 20%;
  margin: auto;
  border: 3px solid greenyellow;
  padding: 15px;
  color: blue;
}

div.contenedor.descendiente p {
  background-color: yellow;
}

div.contenedor.hijo > p {
  background-color: yellow;
}

div.contenedor.adyacente + p {
  background-color: yellow;
}

div.contenedor.hermano ~ p {
    background-color: yellow;
}

div.contenedor:hover {
    background-color: thistle;
    color: black;
}

div.contenedor.oculto p{
    display: none;
}

div.contenedor.oculto:hover p {
    display: block;
}

div.contenedor.primero p:first-child {
    font-variant: small-caps;
}

div.contenedor p::selection {
    background-color: yellow;
    color: red;
}

div.contenedor p::first-line {
    font-variant: small-caps;
    color: red;
}

div.contenedor p::first-letter {
    color: red;
    font-size: 1.5em;
}

div.contenedor p::before {
    content: "- ";
}

div.contenedor p::after {
    content: " -";
}

div.imagen {
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid greenyellow;
    padding: 15px;
    color: blue;
}

img {
    opacity: .5;
}

img:hover {
    opacity: 1;
}